#contact {
  height: min-content;
  padding: 50px 0 50px 0;
}
#contact .contact-links {
  width: 25%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}
#contact .contact-links .contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  line-height: 0;
}
#contact .contact-links .contact-link img {
  width: 100%;
}
