#projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
  margin-bottom: 100px;
  padding-top: 10px;
  overflow: hidden;
  align-items: center;
}

.project {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}
.project.reversed {
  flex-direction: row-reverse;
  text-align: right;
}
.project h3 {
  font-size: 60px;
}
.project h3 i {
  padding: 1px;
  font-size: 40px;
  margin-left: 20px;
  color: white;
  transition: all ease-in-out 0.3s;
}
.project h3 i:hover {
  transform: scale(1.1);
}
.project .resume {
  width: 50%;
  height: 100%;
}
.project .technologies span {
  color: rgb(255, 255, 255);
  margin-right: 10px;
}
.project .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: min-content;
  transition: all ease-in-out 0.5s;
}
.project .image:hover {
  transform: scale(0.9);
}
.project .image img.pc {
  width: 750px;
  height: 420px;
}
.project .image img.mobile {
  width: 250px;
  height: 500px;
}
