#projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1000px;
}

.project {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.project h3 {
  font-size: 60px;
}
.project h3 i {
  font-size: 40px;
  margin-left: 20px;
  color: white;
  transition: all ease-in-out 0.3s;
}
.project h3 i:hover {
  transform: scale(1.1);
}
.project .technologies span {
  color: rgb(255, 255, 255);
  margin-right: 10px;
}
.project .images {
  width: 50%;
  height: 90%;
  overflow: hidden;
  display: flex;
}
.project .images.mobile {
  flex-direction: row;
  margin-right: -300px;
}
.project .images.mobile .secondaries {
  overflow: hidden;
  width: 50%;
  height: 100%;
  margin: 0;
}
.project .images.mobile .secondaries img.secondary {
  height: 50%;
  width: 32%;
  object-fit: contain;
}
.project .images.mobile img {
  transition: all ease-in-out 0.5s;
}
.project .images.mobile img:hover {
  transform: scale(0.9);
}
.project .images.mobile img.primary {
  height: 100%;
  width: 30%;
  object-fit: contain;
}
.project .images.pc {
  flex-direction: column;
  margin-right: -150px;
  align-items: center;
  justify-content: center;
}
.project .images.pc .secondaries {
  overflow: hidden;
  width: 70%;
  height: 30%;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.project .images.pc .secondaries img.secondary {
  height: 37%;
  width: 50%;
  object-fit: contain;
}
.project .images.pc img {
  transition: all ease-in-out 0.5s;
}
.project .images.pc img:hover {
  transform: scale(0.9);
}
.project .images.pc img.primary {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-bottom: 10px;
}
