@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
* {
  overflow-x: hidden;
  font-family: "Raleway";
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
}
