#projects {
  width: 100%;
  height: min-content;
  padding-top: 10px;
  overflow: hidden;
  padding: 10px;
}

.project {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  &.reversed {
    flex-direction: row-reverse;
    text-align: right;
  }
  h3 {
    font-size: 60px;
    i {
      padding: 1px;
      font-size: 40px;
      margin-left: 20px;
      color: white;
      transition: all ease-in-out 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .resume {
    width: 50%;
    height: 100%;
  }
  .technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    height: min-content;
    padding: 10px;
    width: 100%;
    span {
      border-radius: 15px;
      border: 2px solid white;
      padding: 5px;
      color: rgb(255, 255, 255);
      margin-right: 10px;
    }
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    height: min-content;
    transition: all ease-in-out 0.5s;
    width: 50%;
    height: 100%;
    &:hover {
      transform: scale(0.9);
    }
    &.pc {
      a {
        width: 75%;
        height: 75%;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    &.mobile {
      width: min-content;
      img {
        width: 250px;
        height: 500px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .project, .project.reversed {
    text-align: left;
    flex-direction: column;
    .resume {
      width: 90%;
      h3 {
        font-size: 50px;
        text-align: center;
      }
    }
    .image.pc {
      width: 80%;
      a {
        width: 100%;
        height: 100%;
      }
    }
  }
}
