@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

* {
  overflow-x: hidden;
  font-family: 'Raleway';
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

body {
  margin: 0;
  background-color: #f27200;
}

.orange {
  background-color: #f27200;
}

.black {
  background-color: black;
}

.separation {
  margin-left: 273px;
  background-color: lightgrey;
  width: 25%;
  height: 6px;
  border-radius: 50px;
}
