@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
* {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
}

nav {
  font-family: "Raleway";
  position: fixed;
  width: 100%;
  top: -60px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in-out 0.5s;
  animation: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s 1 animated-navbar;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-weight: bold;
}
nav ul li a {
  color: white;
  transition: all ease-in-out 0.5s;
}
nav ul li a i {
  margin-left: 3px;
  display: inline !important;
}
nav ul li a:hover {
  color: #f27200;
  transition: all ease-in-out 0.5s;
}
nav ul:last-of-type {
  color: white;
}

@keyframes animated-navbar {
  from {
    top: -60px;
  }
  to {
    top: 0;
  }
}
.button {
  border: 2px solid #f27200;
  border-radius: 50px;
  padding: 10px;
  color: #f27200;
  position: relative;
  overflow: hidden;
}
.button:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}
.button:hover {
  background-color: rgba(242, 114, 0, 0.2);
}
.button:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

#particles-js {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.banner {
  overflow: hidden;
  background-color: black;
  color: white;
  height: 100vh;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
}
.banner .banner-title {
  z-index: 9999;
  position: relative;
  border-right: solid 3px transparent;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  animation: animated-text 4s steps(30, end) 1s 1 normal both, animated-cursor 600ms steps(30, end) 10;
}
.banner .underlined {
  padding: 3px;
}
.banner .underlined:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: solid 2px green;
  animation: animated-border 3s linear forwards;
  animation-timing-function: ease-in-out;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 250px;
  }
}
@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes animated-border {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1000px;
}

/*# sourceMappingURL=style.css.map */
